<h2>Lista de ATMs</h2>

<table>
    <thead>
        <tr>
            <th>Numero do Terminal</th>
            <th>Agencia</th>
            <th>Tipo do Terminal</th>
            <th>Modelo</th>
            <th>Fabricação</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let atm of atms">
            <td>{{atm.numeroTerminal}}</td>
            <td>{{atm.agencia}}</td>
            <td>{{atm.tipoTerminal}}</td>
            <td>{{atm.modelo}}</td>
            <td>{{atm.fabricacao | date: 'dd/MM/yyyy' | replace: '/' : '-' }}</td>
            <td>
                <span class="blue" [routerLink]="['/info-atm', atm.id]">Detalhar</span>
                <span class="pink" (click)="deletarATM(atm.id)">Deletar</span>
            </td>
        </tr>
    </tbody>
</table>